                        
<% club_array = [] %>
<%= Club.all.each do |club|%>
<% club_array << club %>
<%end%>


                        <h3 class="uk-panel-title">Nouveau Club</h3>
                        <% 3.times do |last_number|%>
                        <article class="has-context ">
                            <div class="latest-news-wrap">
                                <div class="img-wrap">
                                    <a href="/clubs/<%= club_array[(last_number+1)*(-1)].id %>">
                                <% if club_array[(last_number+1)*(-1)].picture.attached? %>
                                    <%= image_tag club_array[(last_number+1)*(-1)].picture, alt: '', :class=>"img-polaroid" %>
                                <% else %>
                                <img src="/vendor/images/35b8bf93115eb2b8da9f8b4f41fdb0fd.jpg" class="img-polaroid" alt="">
                                    </a>
                                <% end %>
                                            
                                </div>
                                <div class="info">
                                    <div class="date">
                                        <%= club_array[(last_number+1)*(-1)].created_at %>     
                                    </div>
                                    <div class="name">
                                        <h4>
                                            <a href="<%= club_path(club_array[(last_number+1)*(-1)]) %>">
                                                <%= club_array[(last_number+1)*(-1)].name %>
                                            </a><br>
                                            <em><%= club_array[(last_number+1)*(-1)].category %></em>        
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <%end%>
                        