<body class="tm-isblog">

    <div class="preloader">
        <div class="loader"></div>
    </div>


    <div class="over-wrap">
        <%= render partial: "static_pages/slide" %>
      <div class="uk-container uk-container-center alt">
              <ul class="uk-breadcrumb">
                  <li><a>MalagaSport</a></li>
                  <li class="uk-active"><span>Promouvons ensemble le sport à Madagascar. Le site qui facilite la mise en relation entre joueurs et recruteurs dans tout Madagascar</span></li>
              </ul>
      </div>

      <div class="uk-container uk-container-center">
              <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                  <div class="tm-main uk-width-medium-3-4 uk-push-1-4">
                      <div style="text-align: center; background-color: #1fa2d6;"><h1>EVENEMENTS</h1>
                      </div> 
                      <div class="contentpaneopen">
                                   <main id="tm-content" class="tm-content">
                                        <div class="uk-grid" data-uk-grid-match=""> 

                                            <%= render partial: "static_pages/event" %>

                                        </div>
                                        <form method="post">
                                            <div class="pagination">
                                                <ul class="pagination-list">
                                                    <li class="pagination-next"><a data-original-title="Next" title="" href="/events" class="hasTooltip pagenav">Plus </a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </main>
                      </div>
                      <div style="text-align: center; background-color: #1fa2d6;"><h1>RECRUTEMENTS</h1>
                      </div> 
                      <div class="contentpaneopen">
                                   <main id="tm-content" class="tm-content">
                                        <div class="uk-grid" data-uk-grid-match=""> 

                                            <%= render partial: "static_pages/recru" %>

                                        </div>
                                        <form method="post">
                                            <div class="pagination">
                                                <ul class="pagination-list">
                                                    <li class="pagination-next"><a data-original-title="Next" title="" href="/recrutements" class="hasTooltip pagenav">Plus </a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>
                                    </main>
                      </div>
                      <div style="text-align: center; background-color: #1fa2d6;"><h1>PUBLICATIONS</h1>
                      </div> 
                            <%= render partial: "static_pages/publi" %>
                                      <form method="post">
                                            <div class="pagination">
                                                <ul class="pagination-list">
                                                    <li class="pagination-next"><a data-original-title="Next" title="" href="/publications" class="hasTooltip pagenav">Plus </a></li>
                                                </ul>
                                            </div>
                                            <div class="clearfix"></div>
                                        </form>

                      <div style="text-align: center; background-color: #1fa2d6;"><h1>CLUBS</h1>
                      </div>
                  </div>
                  <aside class="tm-sidebar-a uk-width-medium-1-4 uk-pull-3-4 uk-row-first">
                    <div class="uk-panel ">
                        <img src="/logo/logo.png">
                    </div>
                    <div class="uk-panel categories-sidebar">
                        <h3 class="uk-panel-title">Categories</h3>
                        <div>
                            <%= render partial: "static_pages/todo" %>
                        </div>
                        <div class="clearfix"> </div>
                    </div>

                    <div class="uk-panel news-sidebar">
                            <%= render partial: "static_pages/recent_club" %>
                    </div>
                    <% if current_user %>
                      <div class="uk-panel tags-sidebar">
                          <h3 class="uk-panel-title">Avatar</h3>
                          <div class="contentpaneopen">
                            <% if current_user.avatar.attached?%>
                              <%= image_tag current_user.avatar, alt: 'avatar', :class=>"img-polaroid" %>
                            <% else %>
                              <a href="/users/<%= current_user.id %>">
                              <img src="/vendor/tete.gif" class="img-polaroid" alt="">
                              </a>
                          <% end %>
                          </div>
                          <div style="clear: both;"></div>
                      </div>
                    <% end %>
                </aside>
              </div>
      </div>
    </div>


    <div class="preloader">
        <div class="loader"></div>
    </div>

</body>




