<br><br><br><br><br><br><br>

<% @publications.each do |publication|%>
<h1><%= publication.user.first_name%></h1>
<p><%= publication.content%></p><br>
<em><%= publication.created_at%></em><br>
<% end %>


<div class="contentpaneopen">
                       <main id="tm-content" class="tm-content">
                            <div class="uk-grid" data-uk-grid-match="">
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                    	<% @publications.each do |publication|%>
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/35b8bf93115eb2b8da9f8b4f41fdb0fd.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                <%= publication.created_at.strftime("%d-%m-%Y")%>            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a>
                                                    <%= publication.user.first_name%>                    </a>        
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p><%= publication.content%></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>3</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/4e9ed1f24d1f63b923e67456774158a3.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 20, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Suspendisse purus enim, dictum sed lorem ac, sodales maximus est                    </a>        
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>3</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/19896c58825d0206bd858f7e50bf51b2.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 20, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Cum sociis natoque penatibus et magnis dis parturient                    </a>       
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>2</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/0a213d8fc9b9586f374154e6b55e0d7d.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 20, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Vestibulum ante ipsum primis in                    </a>     
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>3</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/853d071dfa2f869fbd2a70dbcb3a8f5e.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 20, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Nullam enim ante, volutpat non viverra eget                    </a>     
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>3</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/7f2425d96a8122cb1ac403d0604c257e.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 20, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Interdum et malesuada fames ac ante ipsum primis in faucibus                    </a>        
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>2</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/a05149b3647ccfca06226f762ad4a50a.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 20, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Nunc tincidunt dictum nisi                    </a>      
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>1</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/534579b3c373c09398691a46025fe5e6.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 19, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Nunc in interdum neque. Mauris tincidunt molestie felis                    </a>     
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>2</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                                <div class="uk-width-large-1-3 uk-width-medium-2-4 uk-width-small-2-4 list-article uk-flex uk-flex-column">
                                    <div class="wrapper">
                                        <div class="img-wrap uk-flex-wrap-top">
                                            <a href="news-single.html">
                                            <img src="images/news/f1aa744989a08c3135ade02490456f4f.jpg" class="img-polaroid" alt="">
                                            </a>        
                                        </div>
                                        <div class="info uk-flex-wrap-middle">
                                            <div class="date">
                                                November 19, 2015            
                                            </div>
                                            <div class="name">
                                                <h4>
                                                    <a href="news-single.html">
                                                    Vivamus in risus nulla. Fusce volutpat varius odio                    </a>      
                                                </h4>
                                            </div>
                                            <div class="text">
                                                <p>Vivamus hendrerit, tortor sed luctus maximus, nunc urna hendrerit nibh, sit amet efficitur libero lorem quis mauris. Nunc a pulvinar lectus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article-actions uk-flex-wrap-bottom">
                                        <div class="count"><i class="uk-icon-comments"></i><span>3</span></div>
                                        <div class="read-more"><a href="news-single.html">Read More</a></div>
                                    </div>
                                </div>
                            </div>
                            <form method="post">
                                <div class="pagination">
                                    <ul class="pagination-list">
                                        <li class="pagination-start"><span class="pagenav">Start</span></li>
                                        <li class="pagination-prev"><span class="pagenav">Prev</span></li>
                                        <li><span class="pagenav">1</span></li>
                                        <li><a href="#" class="pagenav">2</a></li>
                                        <li class="pagination-next"><a data-original-title="Next" title="" href="#" class="hasTooltip pagenav">Next</a></li>
                                        <li class="pagination-end"><a data-original-title="End" title="" href="#" class="hasTooltip pagenav">End</a></li>
                                    </ul>
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </main>
                    </div>