<p id="notice"><%= notice %></p>

<h1>Demande</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="text-align:center;">Lettre de motivation</th>
      <th scope="col" style="text-align:center;">Mon parcours</th>
      <th colspan="3" scope="col" style="text-align:center;"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td style="text-align:center;"><%= request.application_letter %></td>
        <td style="text-align:center;"><%= request.parcours %></td>
        <td style="text-align:center;"><%= link_to 'Show', request %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle demande', new_request_path %>
