<p id="notice"><%= notice %></p>

<p>
  <strong>Lettre de motivation:</strong>
  <%= @request.application_letter %>
</p>

<p>
  <strong>Mon parcours:</strong>
  <%= @request.parcours %>
</p>


<strong><%= link_to "Accepter la demande de #{@request.user.first_name}", request_path(@request.id) , method: :patch%></strong>
<a href="#" data-requestid ="<%=@request.id%>" data-id="<%=@request.recrutement_id%>" class="requete">Edité</a> |
<%= link_to "Revenir à la page précédente", recrutement_path(@request.recrutement.id) %>
