<p id="notice"><%= notice %></p>

<p>
  <strong>Lettre de motivation:</strong>
  <%= @request.application_letter %>
</p>

<p>
  <strong>Mon parcours:</strong>
  <%= @request.parcours %>
</p>

<% if current_user == @request.recrutement.club.admin%>
<%= link_to "Accepter la demande de #{@request.user.first_name}", request_path(@request.id) , method: :patch%>
<% end %>
<br>
<a href="#" data-requestid ="<%=@request.id%>" data-id="<%=@request.recrutement_id%>" class="requete">Edité</a> |
<%= link_to "Revenir à la page précédente", recrutement_path(@request.recrutement.id) %>












<div style="align-content: center; background-color: rgba(0, 175, 216, 0.7);">
        <div class="tm-top-a-box tm-full-width tm-box-bg-1 ">
            <div class="uk-container uk-container-center">
                <section id="tm-top-a" class="tm-top-a uk-grid uk-grid-collapse" data-uk-grid-match="{target:'> div > .uk-panel'}" data-uk-grid-margin="">
                    <div class="uk-width-1-1 uk-row-first">
                        <div class="uk-panel">
                            <div class="uk-cover-background uk-position-relative head-match-wrap" style="height: 590px; background-image: url('images/head-bg-match.jpg');">
                                <img class="uk-invisible" src="/vendor/images/head-bg-match.jpg" alt="">
                                <div class="uk-position-cover uk-flex-center head-news-title">
                                    <h1>
                                        Votre demande
                                    </h1>
                                    <div class="clear"></div>
                                    <div class="uk-container uk-container-center">
                                        <div class="uk-grid no-marg">
                                            <div class="uk-width-6-10 va-single-next-match match-view-wrap">
                                                <div class="va-main-next-wrap">
                                                    <div class="match-list-single">
                                                        <div class="match-list-item">
                                                            <div class="count" style="background-color: currentColor; color: white;">
                                                              <h3><%= @request.recrutement.content%></h3>
                                                            </div>

                                                            <div class="half left">
                                                                <div class="va-wrap">
                                                                    <div class="team-name">
                                                                        <%= @request.recrutement.club.name%>                   
                                                                    </div>
                                                                    <div class="logo">
                                  <% if @request.recrutement.club.picture.attached?%>
                                          <a href="<%= clubs_path(@request.recrutement.club.id)%>">
                                          <%= image_tag @request.recrutement.club.picture, :class=>"img-polaroid", :alt=>" recrutement de #{@request.recrutement.club.name}", :title=>"recrutement de #{@request.recrutement.club.name}" %></a>
                                                                         
                                  <% else %>
                                          <a href="<%= clubs_path(@request.recrutement.club.id)%>">
                                          <img src="/vendor/images/team-ava1.png" class="img-polaroid" alt="recrutement de <%=@request.recrutement.club.name%>" title="recrutement de <%=@request.recrutement.club.name%>"></a>             
                                  <% end %>                                           
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="date">
                                                                <i class="uk-icon-calendar"></i>
                                                                <%= @request.recrutement.deadline%>           
                                                            </div>
                                                            <div class="clear"></div>
                                                            <div class="location">
                                                                <i class="uk-icon-map-marker"></i>
                                                                <address>
                                                                    <%= @request.recrutement.club.quarter.name%>               <br><br>
                                                                </address>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="uk-container" style=" margin-right: 270px;">
            <div id="tm-middle" class="tm-middle uk-grid" data-uk-grid-match="" data-uk-grid-margin="">
                <div class="tm-main uk-width-medium-3-4 uk-push-1-4">
                    <main id="tm-content" class="tm-content">
                        <div class="match-list-wrap">
                            <div class="match-list-item">
                            </div>
                            <div class="match-list-item">
                                <div class="date">
                                    <span><%= @request.recrutement.requests.count%></span>
                                                    
                                </div>
                                
                                <div class="team-name">
                                    <%= @request.application_letter%>                
                                </div>
                                                                                               
                                <div class="va-view-wrap">
                                	<% if current_user == @request.recrutement.club.admin%>
                                    <a class=" view-article" href="/requests/<%= @request.id%>" data-method="patch" >Postuler</a>
                                    <% end %>
                                </div>
                            </div>
                            
                        </div>
                    </main>
                </div>
            </div>
        </div>

</div>


<% if current_user == @request.recrutement.club.admin%>
<%= link_to "Accepter la demande de #{@request.user.first_name}", request_path(@request.id) , method: :patch%>
<% end %>