<!DOCTYPE html>
<html lang="en-gb">

<head>
    <title>MalagaSport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css">
    <link href="/vendor/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="/vendor/css/akslider.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/css/donate.css" rel="stylesheet" type="text/css" />
    <link href="/vendor/css/theme.css" rel="stylesheet" type="text/css" />

    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/mootools/1.3.1/mootools-yui-compressed.js'></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>


<script type="text/javascript" src="/vendor/js/jquery.js"></script>
<script type="text/javascript" src="/vendor/js/uikit.js"></script>
<script type="text/javascript" src="/vendor/js/SimpleCounter.js"></script>
<script type="text/javascript" src="/vendor/js/components/grid.js"></script>
<script type="text/javascript" src="/vendor/js/components/slider.js"></script>
<script type="text/javascript" src="/vendor/js/components/slideshow.js"></script>
<script type="text/javascript" src="/vendor/js/components/slideset.js"></script>
<script type="text/javascript" src="/vendor/js/components/sticky.js"></script>
<script type="text/javascript" src="/vendor/js/components/lightbox.js"></script>
<script type="text/javascript" src="/vendor/js/isotope.pkgd.min.js"></script>

<script type="text/javascript" src="/vendor/js/theme.js"></script>
<script type="text/javascript">
    new SimpleCounter("countdown4", 1447448400, {
      'continue': 0,
      format: '{D} {H} {M} {S}',
      lang: {
          d: {
              single: 'day',
              plural: 'days'
          }, //days
          h: {
              single: 'hr',
              plural: 'hrs'
          }, //hours
          m: {
              single: 'min',
              plural: 'min'
          }, //minutes
          s: {
              single: 'sec',
              plural: 'sec'
          } //seconds
      },
      formats: {
          full: "<span class='countdown_number' style='color:  '>{number} </span> <span class='countdown_word' style='color:  '>{word}</span> <span class='countdown_separator'>:</span>", //Format for full units representation
          shrt: "<span class='countdown_number' style='color:  '>{number} </span>" //Format for short unit representation
      }
  });
</script>
</head>

<body>
    
<body class="tm-isblog">

    <div class="preloader">
        <div class="loader"></div>
    </div>


    <div class="over-wrap">
        <div class="toolbar-wrap">
            <div class="uk-container uk-container-center">
                <div class="tm-toolbar uk-clearfix uk-hidden-small">


                    <div class="uk-float-right">
                        <div class="uk-panel">
                            <div class="social-top">
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-facebook"></span></a>
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-twitter"></span></a>
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-google"></span></a>
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-pinterest"></span></a>
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-youtube"></span></a>
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-instagram"></span></a>
                                <a href="#"><span class="uk-icon-small uk-icon-hover uk-icon-flickr"></span></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="tm-menu-box">

            <div style="height: 70px;" class="uk-sticky-placeholder">
                <nav style="margin: 0px;" class="tm-navbar uk-navbar" data-uk-sticky="">
                    <div class="uk-container uk-container-center">
                        <a class="tm-logo uk-float-left" href="/">
                            <img src="/vendor/images/logo-img.png" alt="logo" title="logo"> <span>Malaga<em>Sport</em></span>
                        </a>

                        <ul class="uk-navbar-nav uk-hidden-small">
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a>Club</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <% if user_signed_in? %>
                                                <% a = 0 %>
                                                    <li>                                               
                                                        <% Club.all.each do |club| %>
                                                            <% if club.admin.id == current_user.id %>
                                                                <%=link_to "Mon club", club_path(club.id)%>          
                                                            <% else %>
                                                                <% a+= 1%>
                                                            <% end %>
                                                        <% end %>
                                                        <%if a == Club.all.count %>
                                                            <%=link_to "Créer un club", new_club_path%> 
                                                        <% end %>
                                                    </li>
                                                <% end %>
                                                    <li>
                                                        <%=link_to "liste des clubs", clubs_path%>
                                                    </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a>Recrutements</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li>
                                                    <%=link_to "Voir tous les recrutements", recrutements_path%>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a>Evenement</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li>
                                                    <%=link_to "Voir tous les évènements", events_path%>
                                                </li>
                                                <li>
                                                    <% if current_user %>
                                                    <% if Club.all.count > 0 %>
                                                  
                                                    <% Club.all.each do |club| %>
                                                        <% if club.admin.id == current_user.id %>
                                                            <a href="#" class="lasa" id="<%= club.id %>">Créer un évenement</a>         
                                                        <% end %>
                                                    <% end %>
                                                    <% end %>
                                                    <% end %>                                  
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a>Publication</a>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <li>
                                                    <%=link_to "Voir tous les Publications", publications_path%>
                                                </li>
                                                <% if user_signed_in? %>
                                                <li>
                                                    <%=link_to "Publier", new_publication_path%>                        
                                                </li>
                                                <% end %> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="uk-parent" data-uk-dropdown="{'preventflip':'y'}" aria-haspopup="true" aria-expanded="false"><a><img src="/vendor/images/logo-img.png" alt="logo" title="logo" class="pdp"></a>
                                <style type="text/css"></style>
                                <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-1">
                                    <div class="uk-grid uk-dropdown-grid">
                                        <div class="uk-width-1-1">
                                            <ul class="uk-nav uk-nav-navbar">
                                                <% if user_signed_in? %>
                                                <li>
                                                    <%= link_to "Mon profil", user_path(current_user.id)%>
                                                </li>
                                                <li>
                                                    <%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
                                                </li>
                                                <% else %>
                                                <li>
                                                    <%= link_to "Se connecter", new_user_session_path %> 
                                                </li>
                                                <li>
                                                    <%= link_to "S'incrire", new_user_registration_path %> 
                                                </li>
                                                <% end %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                            
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

        </div>